body{
  background-image:url("../../../imagenes/Landing.jpg");
  background-size: cover;
  background-position: center;
}

.container {
  margin: 20px 10%;
  padding: 20px;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.843);
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  border: 0.2em solid rgb(220, 202, 202);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about {
  background-color: #139f75;
  margin: 1em;
  padding: 0.3em 3em;
  border-radius: 1em;
  border: 0.2em solid rgba(0, 0, 0, 0.821);
}

.container p,
.container span, h1 {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.funcionalidades {
   font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.funcionalidades li {
  margin: 0.5em;
  padding: 1em;
}

.tec {
  background-color: #139f75;
  padding: 2em;
  margin: 0.5em;
  border-radius: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 0.3em solid rgba(0, 0, 0, 0.821);
}

.tec img {
  width: 80px;
  margin: 5px;
  border-radius: 1.2em;
}
.imgContainer {
  width: max-content;
  padding: 1em 0.5em;
  background-color: #139f75;
  margin: 0.5em;
  border-radius: 3em;
  border: 0.3em solid rgba(0, 0, 0, 0.821);
}
.imgContainer img {
  width: 3em;
  margin: 0em 1em;
  &:hover {
    border-radius: 1.2em;
    background-color: rgba(255, 255, 255, 0.595);
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.9);
    transition: background-color 1s ease-in-out;
  }
}
