.background {
    margin: 0;
    padding: 3%;
    background-image: url("../../../imagenes/Landing.jpg");
    background-size: cover;
    background-position: center;
}

.container {
    border: solid 4px #139f75;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 85vh;
}

.container h1 {
    color: #ffffff;
    font-size: 2em; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.imagen {
    box-shadow: 5px 3px 5px rgba(250, 250, 250, 0.774);
    border-radius: 50%; /* Hacer la imagen redonda */
    background-color: #ffffff;
    width: 8rem; /* Cambiado a ancho en lugar de altura */
    height: 8rem; /* Mantenido el alto */
    padding: 0em;
    margin: 0em auto;
}

.boton {
    text-decoration: none;
    width: auto; /* Ancho automático para ajustar al contenido */
    margin: 1em 0; /* Añadido espacio vertical */
    padding: 6px 18px; /* Ajustado el padding */
    font-size: 1.3em; /* Reducido el tamaño para dispositivos móviles */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    border: none;
    background-color: #000000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.774);
}

.boton:hover {
    background-color: #139f75;
    box-shadow: 5px 3px 5px rgba(250, 250, 250, 0.774);
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {

    .background {
        margin: 0;
        padding: 3%;
        background-image: url("../../../imagenes/Landing.jpg");
        background-size: cover;
        background-position: center;
    }

    .container{
        border: solid 1px #139f75;
        width: 95%;
        padding: 18em 0em;
        display: flex;
        margin: 0.1em ;
        height: auto;
    }

    .container h1 {
        font-size:1.5em; 
    }

    .imagen {
        margin: 1em;
        width: 6rem; 
        height: 6rem;
    }

    .boton {
        font-size: 1.2em; 
    }
}
