.container {
  background-color: rgba(0, 0, 0, 0.468);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Estilos para el input de búsqueda */
.input {
  margin-top: 0.5em;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Estilos para el botón */
.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #000000;
  border: 0.1em solid white;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  &:hover{
    background-color: #139f75;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.9);
   
 }
}

/* Estilos para el título */
h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

/* Estilos para el select */
select {
width: 10em;
padding: 0.5em 2em;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 0.8em;
}

@media (max-width: 768px) {
  .container {
    background-color: rgba(0, 0, 0, 0.579);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Estilos para el input de búsqueda */
  .input {
    margin-top: 0em;
    padding: 7px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    margin-bottom: 0.5em;
  }
  
  /* Estilos para el botón */
  .button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #000000;
    border: 0.1em solid white;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    &:hover{
      background-color: #139f75;
      box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.9);
     
   }
  }
  
  /* Estilos para el título */
  h1 {
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  /* Estilos para el select */
  select {
  width: 9em;
  padding: 0.4em 1.8em;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 0.5em;
  }
}